extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
   div(class="authContainer")
      img(src="./images/logo-large.png" alt="Remember the Juice Logo" class="logoLarge")
      div(class="authForms")
          form(method="post" action="/users")
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type="text" name="username" placeholder="username" required)
            br
            input(type="password" name="password" placeholder="password" required)
            br
            button(class="loginButton" type="submit") Login
            p or
            button(class="signUpButton" type="button" src="/signup") Sign Up
