extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main.css")
  link(rel="stylesheet" href="/stylesheets/navbar.css")
  link(rel=stylesheet href="/stylesheets/hamburger-menu.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)


block content
    div.navbar
        div.navbar_hamburger
            img(src="../images/hamburger-white.png" style="width: 40px; opacity: .80")
        div.navbar_searchbar
            img(src="../images/search.png" class="search_glass" style="width: 35px; opacity: .80")
        div.navbar_theme_wrapper
            div.fruit_red
                img(src="../images/apple.png" alt="strawberry" class="navbar_themes")
            div.fruit_orange
                img(src="../images/lemon.png" alt="lemon" class="navbar_themes")
            div.fruit_yellow
                img(src="../images/orange.png" alt="orange" class="navbar_themes")
            div.fruit_green
                img(src="../images/grape.png" alt="grape" class="navbar_themes")
            div.fruit_blue
                img(src="../images/strawberry.png" alt="strawberry" class="navbar_themes")

    div.main
        div.main_left
            img(src="../images/default-logo.png" class="logoSmall")
            div.lists
                p.main_left_menu_title Task Lists
                ul
                    li All
                    each listName in lists
                        li= listName.listName
                div.new_list
                form(method="post" action=`/lists/`)
                    input(type="text" name="listName" placeholder="Create list...")
                    button(type="submit")
                

        div.main_right
            div.main_right_topbox
                div.inbox
                form().tasks_category
                    p.tasks_incomplete Total Tasks
                    p.tasks_complete Completed
            div.main_right_bottombox
                form(action=`/users/${userId}` method="post" class="task")
                    input(type="text" name="taskContent" placeholder="Add task here...")
                    button(type="submit" value="Save")
                if allTasks
                    ul
                        each task in allTasks
                            li=task.taskContent

                    //- input(type="checkbox") Buy juice
                    //- input(type="checkbox") Clean out garage
