extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    div(class="authContainer")
      img(src="../images/logo-large.png" alt="Remember the Juice Logo" class="logoLarge")
      div(class="authForms")
          form(method="post" action="/users/signup")     
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type="text" name="username" placeholder="USERNAME ..." required)
            br
            input(type="text" name="email" placeholder="EMAIL ..." required)
            br
            input(type="password" name="password" placeholder="PASSWORD ..." required)
            br
            input(type="password" name="confirmPassword" placeholder="CONFIRM PASSWORD ..." required)
            if errors
                ul
                    each error in errors
                        li= error
            div(class="authFooter")
              button(class="signUpButton" type="submit" ) Sign up
              button(class="demoButton" type="button") Demo
              button(class="loginButton" src="/") Back to Login