/* for "/" and "/signup" */
.authContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

.logoLarge {
    width: 800px;
}

input {
    width: 600px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.loginButton {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.signUpButton {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
