body{
    margin: 0;
}

.navbar {
    background-color: darkred;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    position: fixed;
    height: 50px;
    width: 100%;
}

.navbar_hamburger {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.navbar_searchbar {
    width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 10px;

}

.navbar_theme_wrapper {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.navbar_themes {
    height: 40px;
    width: 40px;
}
